/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% GAME FRAME %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
iframe {
  display: none;
 position: fixed;
 z-index: 12;
 left: 0;
 top: 0;
 overflow: auto;
 background-color: rgba(0,0,0,0.4);
 border-width:4px;
 border-color:#111;
 width: 70%;
 height: 60%;
 margin-top: 20%;
 margin-bottom: 20%;
 margin-left: 15%;
 margin-right: 15%;
}
.gamenavbar {
 width: 100%;
 height: 60px;
 background-color:#111;
}
.open {
 float:right;
 color:white;
 width: 50px;
 height: 50px;
}
.fullscreen {
 float: right;
 width: 50px;
 height: 50px;
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.livesearch {
 float-right: 75%;
}
html, body{
 background-color:#27262b; margin:0px; padding:0px;
}
nav {
 width: 100%;
 height: 65px;
 top: 0;
 left: 0;
 border-style: solid;
 border-width: 3px;
 border-bottom-width: 1px;
 border-color: black;
 z-index: 2;
 background-color: #111;
 position: fixed;
}
body {
 margin: 0;
 font-family: Arial, Helvetica, sans-serif;
}

.topnav {
 width: 80%;
 height: 50px;
 overflow: hidden;
 background-color: #111;
 color: white;
 color: white;
 font-family: times new roman;
 margin-top: 10px;
}

.topnav a {
 float: left;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
 background-color: #111;
}

.topnav a.active {
 background-color: #111;
 color: white;
}

.navLeft {
 width: 80%;
 height: 50px;
 top: 0;
 left: 0;
 z-index: 10;
 position: fixed;
 display: flex;
 flex-direction: row;
 background-color: #111;
}
.hamburger {
 width: 48px;
 height: 48px;
 margin: 9px;
 color: #ffffff;
 fill: #000000;
}
.logo {
 position: relative;
 margin: 23px 0;
 width: 100%;
}
.classroomLogo {
 color: #ffffff;
 font-family: 'Product Sans',Arial,Helvetica,sans-serif;
 font-size: 1.38125rem;
 position: relative;
 top: -0.375rem;
 text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
}
#announcementBar {
 font-family 'Google Sans',Roboto,Arial,san-serif;
 border-radius: 27.5px;
 padding: 0 1rem 0 1.5rem;
 position: relative;
 margin:0;
 -webkit-align-items: center;
 align-items: center;
 background-color: #ffffff;
 border-bottom: 0.0625rem solid #dadce0;
 display: flex;
 flex-wrap: wrap;
 height: 55px;
}
.announcement {
 padding: 1rem 0.3125rem 1rem 0;
 margin:0;
 letter-spacing: .01428571em;
 font-family: times new roman;
 font-size: 0.875rem;
 font-weight: 400;
 line-height: 1.25rem;
 color: #000000;
 margin-right: calc(88px - 1rem);
}
#dismiss {
 margin: 0 0 0 auto;
 float: right;
 right: 0;
 position: absolute;
}
.dismissed {
 animation-name: dismissed;
 animation-duration: 0.3s;
}
@keyframes dismissed {
 from {top:65; opacity:0}
 to {top:12px; opacity:0}
}
.d {
 width: 80px;
}
.navRight {
 width: 20%;
 height: 65px;
 top: 0;
 right: 0;
 z-index: 10;
 position: absolute;
 float: right;
 background-image: linear-gradient(#555, #111);
}
.pfp {
 height: 32px;
 width: 32px;
 position: absolute;
 border-radius: 50%;
 padding: 16.5px;
 right: 5.5px;
 bottom: 2.8px;
 user-select: none;
 -webkit-user-select: none;
}
.apps {
 height: 25px;
 width: 25px;
 position: absolute;
 fill: #000000;
 padding: 20px;
 right: 60px;
}
#addGame {
 height: 48px;
 width: 48px;
 border-radius: 50%;
 position: absolute;
 margin: 8.5px;
 cursor: cell;
 right: 110px;
}
.plus {
 padding: 12px;
}
.shadow {
 height: 48px;
 width: 48px;
 position: absolute;
 border-radius: 50%;
 background-color: rgb(0, 0, 0);
 opacity: 0;
 bottom: 0;
}
.shadow:hover {
 opacity: 0.1;
 cursor: cell;
}
.hamburger > .shadow {
 bottom: 8px;
}
#content {
 position: relative;
 flex-wrap: wrap;
 display: flex;
 margin-bottom: 10px;
 border: none;
 top: 12px;
 margin-top: 13px;
 margin-left: 25px;
}
.classroom {
 background-color:#282828;
 border-radius: 0.6rem;
 width: 18.375rem;
 height: 18.75rem;
 border: 0.0625rem solid #dadce0;
 margin-right: 25px;
 margin-bottom: 25px;
 cursor: cell;
 left: 25px;
}
.classroom:hover {
 box-shadow: 0 2px 5px #bebebe;
 transform: scaleY(1.05);
 transform: scaleX(1.05);
 
}
.banner {
 border-radius: 0.5rem 0.5rem 0 0;
 height: 4.5rem;
 width: auto;
 background-size: cover;
 padding: 1.2rem 1.2rem 0.75rem;
}
.classText {
 position: relative;
}
.main {
 font-family: 'Google Sans',Roboto,Arial,sans-serif;
 font-size: 1.6rem;
 font-weight: 400;
 line-height: 1.75rem;
 color: #fff;
 width: auto;
}

.embed {
 font-family 'Google Sans',Roboto,Arial,san-serif;
 font-size: 1.6rem
 font-weight: 400;
 line-height: 2rem;
 color: #fff
 width: auto;
}

.sub {
 font-family: 'Google Sans',Roboto,Arial,sans-serif;
 font-size: 0.95rem;
 font-weight: 400;
 line-height: 1.75rem;
 color: #fff;
 margin-top: 0.35rem;
 width: auto;
}
.gameIcon {
 height: 4.6875rem;
 width: 4.6875rem;
 border-radius: 50%;
 float: right;
 position: relative;
 margin-top: -2.44rem;
 right: 16px;
}
.b {
 position: relative;
 top: 87px;
 height: 20%;
 border: 0;
 border-top: 0.0625rem solid #dadce0;
 border-radius: 0 0 0.6rem 0.6rem;
 flex-wrap: wrap;
 display: flex;
}
.b > .icon {
 position: relative;
 fill: black;
 float: right;
 padding: 18.5px 12px;
 height: 24px;
 width: 24px;
 left: 190px;
}
#buttons {
 width: auto;
 height: 48px;
 top: 12;
 left: 0;
 position: relative;
 padding-left: 1.5rem;
 padding-top: 1rem;
 display: flex;
 flex-wrap: wrap;
 z-index: 1;
}
.btn {
 height: 48px;
 border-radius: 4px;
 margin-right: 0.5rem;
 user-select: none;
 -webkit-user-select: none;
}
.f {
 width: 152px;
}
.c {
 width: 117px;
}
.icon {
 height: 1.125rem;
 width: 1.125rem;
 padding: 15px 10px;
 fill: #fcfcfc;
}
.btnText {
 font-family: "Google Sans",Roboto,Arial,sans-serif;
 font-size: .875rem;
 letter-spacing: .0107142857em;
 font-weight: 500;
 text-transform: none;
 position: relative;
 bottom: 18px;
 color: #1a73e8;
 user-select: none;
 -webkit-user-select: none;
}
.btnShadow {
 height: 36px;
 background-color: #1a73e8;
 position: absolute;
 bottom: 5;
 opacity: 0;
 border-radius: 4px;
}
.btnShadow:hover {
 opacity: 0.1;
 cursor: cell;
}
.modal {
 display: none;
 position: fixed;
 z-index: 12;
 padding-top: 100px;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 overflow: auto;
 background-color: rgba(0,0,0,0.4);
}
.agModalContent {
 position: relative;
 top: -90px;
 background-color: #fefefe;
 margin: auto;
 margin-bottom: 20px;
 padding: 0;
 border: 1px solid #888;
 width: 614px;
 height: 662px;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
 -webkit-animation-name: animatetop;
 -webkit-animation-duration: 0.4s;
 animation-name: animatetop;
 animation-duration: 0.4s;
 border-radius: 10px;
 user-select: none;
 -webkit-user-select: none;
}
.agModalContent::after {
 content: "";
 clear: both;
 display: table;
}
.fbModalContent {
 position: relative;
 top: -90px;
 background-color: #fefefe;
 margin: auto;
 margin-bottom: 20px;
 padding: 0;
 border: 1px solid #888;
 width: 614px;
 height: 868px;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
 -webkit-animation-name: animatetop;
 -webkit-animation-duration: 1s;
 animation-name: animatetop;
 animation-duration: 0.4s;
 border-radius: 10px;
 user-select: none;
 -webkit-user-select: none;
}
.fbModalContent::after {
 content: "";
 clear: both;
 display: table;
}
@-webkit-keyframes animatetop {
 from {top:-300px; opacity:0}
 to {top:-90px; opacity:1}
}

@keyframes animatetop {
 from {top:-300px; opacity:0}
 to {top:-90px; opacity:1}
}

.gbModalContent {
 position: relative;
 top: -90px;
 background-color: #fefefe;
 margin: auto;
 margin-bottom: 20px;
 padding: 0;
 border: 1px solid #888;
 width: 614px;
 height: 868px;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
 -webkit-animation-name: animatetop;
 -webkit-animation-duration: 0.4s;
 animation-name: animatetop;
 animation-duration: 0.4s;
 border-radius: 10px;
 user-select: none;
 -webkit-user-select: none;
}
.gbModalContent::after {
 content: "";
 clear: both;
 display: table;
}
.dropdown-btn {
 padding: 6px 8px 6px 16px;
 text-decoration: none;
 font-size: 20px;
 color: #ffffff;
 display: block;
 border: none;
 background: none;
 width: 100%;
 text-align: left;
 cursor: cell;
 outline: none;padding: 6px 0px 6px 16px;
 text-decoration: none;
 font-size: 20px;
 color: #ffffff;
 display: block;
 border: none;
 background: none;
 width: 100%;
 text-align: left;
 cursor: cell;
 outline: none;
 font-family: 'Vollkorn', serif;
 border-radius: 50px;
}

.dropdown-content {
 display: block;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

.dropdown-content a {
 float: none;
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 text-align: left;
}

.dropdown-content a:hover {
 background-color: #ddd;
}

.dropdown:hover .dropdown-content {
 display: block;
}

footer {
 width: 100%;
 height: 100%;
   background-color: var(--main-header-background);
}

.copyright {
 color: #fff;
 font-size: 1.2rem;
 line-height: 40px;
 text-align: center;
}

.copyright a{
 color: #fff;
 font-size: 1rem;
 letter-spacing: 1px;
   text-decoration: none;
}

.copyright a:hover{
 color: var(--main-decor-color);
}
.btntop {
 color: white;
 padding: 5px 5px;
 margin-top: 6px;
 font-family: times new roman;
}
 #altLinkContainer {
 margin: 12px 30px 30px;
 color: #545454;
}

.altModalContent {
 position: relative;
 background-color: #fefefe;
 border: 1px solid #888;
 width: 20vw;
 min-width: 16rem;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
 border-radius: 10px;
 user-select: auto;
 -webkit-user-select: auto;
 margin: auto;
 padding: 2rem;
 bottom: -5vh;

 -webkit-animation-name: animatebottom;
 -webkit-animation-duration: 0.4s;
 animation-name: animatebottom;
 animation-duration: 0.4s;
}
 
