/*-------------------- Themes --------------------*/

body[theme="default"] {
  --background: #1c1c1c;
  --theme: #4caf50;
  --font-color: white;
  --font-color2nd: black;
  font-family: var(--main-fonts-family);
  color: var(--font-color);
  font-size: var(--font-size);
  background-color: var(--background);
  margin: 0px;
  
}
body[theme="dark"] {
  background-color: white;
}