.stream {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: -webkit-calc(100% - 2*1.5rem);
  width: calc(100% - 2*1.5rem);
  max-width: 62.5rem;
  padding: 1.5rem 1rem 0;
}
.header {
  border-radius: 0.5rem;
  margin: 90px auto 0;
  overflow: hidden;
  height: 15rem;
  position: relative;
  width: -webkit-calc(100% - 2*1.5rem);
  width: calc(100% - 2*1.5rem);
  max-width: 62.5rem;
}
.classTitleContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  margin: 0;
}
.classTitleLink {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
}
.classTitleMain {
  letter-spacing: .00625em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #3c4043;
}
.classTitleSub {
  letter-spacing: .025em;
  font-family: Roboto,Arial,sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  color: #5f6368;
}
.titleContainer {
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  right: 0;
}
.title {
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 2.75rem;
  color: #fff;
  margin: 0;
}
.discription {
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: #fff;
}
.upcoming {
  background-color: white;
  border: 0.0625rem solid #dadce0;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  margin: 0 1.5rem 1.5rem 0;
  padding: 1rem;
  width: 10.125rem;
}
.asideTitle {
  letter-spacing: .01785714em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #3c4043;
  text-transform: none;
  margin: 0 0 1rem;
}
.asideSub {
  font-family: 'Roboto',Helvetica,Arial,sans-serif;
  color: rgba(0,0,0,.549);
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.25rem;
}
#asideBtn {
  width: 50px;
  height: 36px;
  padding: 0 8px;
  margin: 6px -0.5rem -0.5rem auto;
  text-align: center;
  border-radius: 4px;
  user-select: none;
}
#asideBtn:hover {
  cursor: pointer;
}
.asideBtnTxt {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: .875rem;
  letter-spacing: .0107142857em;
  font-weight: 400;
  text-transform: none;
  line-height: 36px;
}
main {
  width: 100%
}
.streamItem {
  background-color: #fff;
  border: 0.0625rem solid #dadce0;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 4.5rem;
  width: calc(100% - 2px);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-bottom: 1.5rem;
}
.streamItem:hover {
  cursor: pointer;
}
.streamIcon {
  fill: #fff;
  cursor: default;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  height: 2.5rem;
  line-height: 0;
  margin: 1rem 1rem 1rem 1.5rem;
  width: 2.5rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 1rem;
  text-align: center;
}
.streamIcon:hover {
  cursor: pointer;
}
.streamText {
  display: flex;
  flex-direction: column;
  padding: 1.1rem 0;
}
.streamTitle {
  letter-spacing: .01785714em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #3c4043;
  height: 1.25rem;
  width: 100%;
}
.streamDescription {
  letter-spacing: .025em;
  font-family: Roboto,Arial,sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  color: #5f6368;
  height: 1rem;
  width: 100%;
}